<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DX_Student_Score_Management.Properties.Settings.QLDSV_MASTER_ConnectionString"
            connectionString="Data Source=FPTDNSB;Initial Catalog=QLDSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>