<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DX_Student_Score_Management.Properties.Settings.QLDSV_MASTER_ConnectionString"
            connectionString="Data Source=FPTDNSB;Initial Catalog=QLDSV;Persist Security Info=False;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DX_Student_Score_Management.Properties.Settings.QLDSVKhoaConnectionString"
            connectionString="Data Source=FPTDNSB\THANH02;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DX_Student_Score_Management.Properties.Settings.QLDSVHocPhiConnectionString"
            connectionString="Data Source=FPTDNSB\THANH04;Initial Catalog=QLDSV;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>